body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: gainsboro;
}

main {
    width: 780px;
    padding: 20px;
    margin: auto;
}

table.timecard {
    margin: auto;
    width: 600px;
    border-collapse: collapse;
    border: 1px solid #fff;
    border-style: hidden;
}

table.timecard caption {
    background-color: #f79646;
    color: #fff;
    font-size: x-large;
    font-weight: bold;
    letter-spacing: .3em;
}

.delete-button {
    width: 80%;
    height: 30px;
    margin: 0;
    background-color: #dc6f6f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/*.show-button {*/
/*    width: 50%; !* Ширина кнопки составляет 50% ширины родительского элемента (половина от delete-button) *!*/
/*    height: 30px; !* Увеличена высота *!*/
/*    margin: 0;*/
/*    color: #4caf50;*/
/*    background-color: #fff;*/
/*    border: none;*/
/*    padding: 5px 10px;*/
/*    cursor: pointer;*/
/*}*/


table.timecard th, table.timecard td {
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #f79646 #ccc;
}

table.timecard td {
    text-align: right;
}

table.timecard tfoot {
    font-weight: bold;
    font-size: large;
    background-color: #687886;
    color: #fff;
}

table.timecard tr.even {
    background-color: #fde9d9;
}

#main {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

select,
input[type="text"] {
    padding: 8px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

